<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Edit
                <%= blog.name %>
            </h1>
            <div style="width:70%; margin: 25px auto;">
                <form action="/blog/<%=blog._id%>?_method=PUT" method="post">

                    <div class="form-group">
                        <input class="form-control" type="text" name="blog[title]" value="<%=blog.title%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="blog[name]" value="<%=blog.name%>">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" row="4" name="blog[text]" value="<%=blog.text%>"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <a href="/blog">Go Back</a>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
