<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Falgun's Blog</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 1</li>
                    <li class="list-group-item">Info 1</li>
                </div>
            </div>
            <div class="col-md-9">
                <h1>Title:
                    <%=blog.title%>
                </h1>
                <h3>
                    Author:
                    <%=blog.name%>
                </h3>
                <p>
                    <%=blog.text%>
                </p>
                <p><em>username:
                                    <%= blog.author.username%>
                                </em></p>
                <% if(currentUser && blog.author.id.equals(currentUser._id)){%>

                    <a class="btn btn-xs btn-warning" href="/blog/<%=blog._id%>/edit">Edit</a>
                    <form class="delete-form" action="/blog/<%=blog._id%>?_method=DELETE" method="post">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <%}%>
                        <div class="well" style="background: #262525; color: #ccc;">
                            <div class="text-right">
                                <a class="btn btn-success" href=" /blog/<%=blog._id %>/comments/new">Add new comment</a>
                            </div>
                            <hr>
                            <%blog.comments.forEach(function(comment){%>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong><%= comment.author.username%></strong>

                                        <p>
                                            <%= comment.text%>
                                        </p>
                                        <% if(currentUser && comment.author.id.equals(currentUser._id)){%>
                                            <a class="btn btn-xs btn-warning" href="/blog/<%=blog._id%>/comments/<%=comment._id%>/edit">Edit</a>

                                            <form class="delete-form" action="/blog/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                            </form>
                                            <%}%>
                                    </div>
                                </div>
                                <%})%>
                        </div>
            </div>
        </div>



    </div>

    <% include ../partials/footer %>
